using System;
using System.Collections.Generic;
using System.Diagnostics.Eventing.Reader;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace eokulnotortalamasihesaplayici
{
    internal class Program
    {
        static void Main(string[] args)
        {
            while (true)
            {
                Console.WriteLine("E-Okul Not Ortalaması Hesaplayıcı'ya Hoşgeldiniz...");
                Console.WriteLine("1. Sınav Notunuzu giriniz");
                double sinav1 = Convert.ToDouble(Console.ReadLine());
                if (sinav1 < 100)
                {
                    Console.WriteLine("2. Sınav Notunu Giriniz");
            
                }
                else
                {
                    Console.WriteLine("100 üzerinde not alamazsınız");
                    Console.Read();
                    break;


                }
                double sinav2 = Convert.ToDouble(Console.ReadLine());
                double sonuc = (sinav1 + sinav2)/2;
                if (sinav2 < 100)
                {
                    if (sonuc > 50)
                    {
                        Console.WriteLine("Ortalamanız:" + " " + sonuc + " " + "Geçtiniz");
                        Console.Read();
                        break;
                    }
                    else
                    {
                        Console.WriteLine("Ortalamanız:" + " " + sonuc + " " + " Kaldınız");
                        Console.Read();
                        break;
                    }
                }
                else
                {
                    Console.WriteLine("100 üzerinde not alamazsınız.");
                    Console.Read();
                    break;

                }

            }
        }
    }
}
